<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
    	<div id="copyRight">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
        <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
      </div>
      <div id="siteInfo">
        <a href="/sitemap.xml" target="_blank">网站地图</a>
      </div>
    </div>
  </div>
</footer>