#page-category
  .category-all-title
    text-align: center
    padding: 10px 0
  .category-all
    .category-list
      padding:10px
      a
        text-decoration: none
        color:#258fb8
        &:hover
          text-decoration: underline
          color: #258fb8
      .category-list-child
        margin-top:5px
        padding-left:20px
      .category-list-item
        margin-left:10px
        margin-bottom:10px
      


